[2019-05-24 16:58] dlebauer opened #1 "Create wireframe mockup of metadata upload UI"
Need to draft what the UI for an end user who wants to upload metadata to BETYdb will look like.

This will be needed for Phase II of GSOC but it will help to have this sooner. See also https://osf.io/v7f9t/wiki/GSOC%202019%20Workplan/

This may require a few iterations.

Completion criteria - a document with images of each web page in the metadata upload workflow to be implemented.

[2019-05-24 17:06] dlebauer opened #2 "Design metadata upload API in swaggerhub"
Need to define api endpoints that will be used in the metadata upload workflow https://osf.io/v7f9t/wiki/Metadata%20Entry%20Workflow/

The idea is that you will have an endpoint for each of the add_<tablename>* functions in https://github.com/az-digitalag/betydbtools/pull/2/files

But probably easiest to follow the sql here https://osf.io/v7f9t/wiki/Metadata%20Entry%20Workflow/

Completion criteri

[2019-05-26 15:00] saurabh1969 commented on #2
I prepared the first draft of documentation as per #2.

 You can see the SwaggerUI [here.](https://app.swaggerhub.com/apis-docs/y51/bet-ydb_yaba/0.0.1)

[2019-05-28 19:04] saurabh1969 commented on #2
See pull request #3 .

[2019-05-31 17:43] Chris-Schnaufer commented on #1
Make a Jupityr notebook for working with the pipeline and drone data processing.

[2019-06-02 17:38] saurabh1969 opened #4 "Implementing MetaData upload API"
- Implementation of metadata upload api with respect to: [https://app.swaggerhub.com/apis-docs/y51/bet-ydb_yaba/1.0.1](https://app.swaggerhub.com/apis-docs/y51/bet-ydb_yaba/1.0.1)

- SQL Query as per : [https://osf.io/v7f9t/wiki/Metadata%20Entry%20Workflow/](https://osf.io/v7f9t/wiki/Metadata%20Entry%20Workflow/)

- Upload will be done to the following tables:
1.Experiment
2.Sites
3.Treatments
4.c

[2019-06-05 15:46] KristinaRiemer commented on #4
@saurabh1969 the link to Swaggerhub is broken.

[2019-06-05 15:51] saurabh1969 commented on #4
@KristinaRiemer try this one:[https://app.swaggerhub.com/apis-docs/y51/bet-ydb_yaba/1.0.1](https://app.swaggerhub.com/apis-docs/y51/bet-ydb_yaba/1.0.1)

[2019-06-17 17:10] #2 closed, assigned to saurabh1969

[2019-06-19 17:20] dlebauer opened #6 "Review swaggerhub specification"
@kimberlyh66 please

* review the BETYdb-YABA API
  * Specification on Swaggerhub https://app.swaggerhub.com/apis-docs/y51/bet-ydb_yaba/0.0.1
  * openapi specification https://github.com/PecanProject/BETYdb-YABA/blob/master/yaba.yaml
  * [x] Compare endpoints to the documentation in OSF / functions you have created.
* Fork the version @saurabh1969 put on swaggerhub https://app.swaggerhub.com/apis/

[2019-06-20 15:19] saurabh1969 commented on #6
@kimberlyh66 use this for Swagger specifications on Swaggerhub :[https://app.swaggerhub.com/apis-docs/y51/bet-ydb_yaba/1.0.4](https://app.swaggerhub.com/apis-docs/y51/bet-ydb_yaba/1.0.4)

[2019-07-01 17:27] Chris-Schnaufer commented on #6
Kimberly please summarize conclusions

[2019-07-09 22:26] kimberlyh66 commented on #6
@saurabh1969 The swagger specification looks good!

I just have a few minor comments/questions:

* I think that `username` is only needed to upload data to the `experiments` table. So the `username` parameter is not needed for the treatments and citations endpoints.

* Tags for the experiments_sites and experiments_treatments endpoints are using `experiment_` instead of `experiments_`

* Where are

[2019-07-10 15:05] gsrohde commented on #6
Coming at this without really having kept up on this project task, I thought it worth pointing out that the following BETYdb tables all have a `user_id` column: `benchmarks`, `benchmarks_ensembles`, `benchmarks_ensembles_scores`, `managements`, `modeltypes_formats`, `modeltypes`, `metrics`, `sitegroups`, `inputs`, `reference_runs`, `benchmark_sets`, `traits`, `citations`, `sites`, `yields`, `treat

[2019-07-10 20:52] dlebauer commented on #6
@gsrohde thank you for your feedback - something we haven't considered is user credentials, but once we implement it I expect that we can use the api key to find the user name and populate these fields, so they don't need to be explicitly part of the API, correct?

[2019-07-11 00:08] gsrohde commented on #6
@dlebauer Yes, that seems correct to me.  In fact, it not only doesn't _need_ to be part of the API, I would say it _shouldn't_ be: you don't want users being able to spoof the name of the user responsible for adding the data.

[2019-07-11 04:17] gsrohde commented on #6
Here are some other comments on this API:

experiments: As you suggest, `user_id` should be eliminated from the request body.  In the description, the name of table should match the case of the table name in the database, and "Table" should be "table".  In other words, the description should read "Upload metadata to the experiments table" (possibly with a period at the end).  Similarly for all of

[2019-07-11 08:01] saurabh1969 opened #7 "Setting up the Tests and Documentation"
- Set up TravisCI
- Writing unit tests for YABA Flask api.
    - for sample data at each endpoint

Completion criteria:
- Commit with .travis.yml
- Sample data uploaded for testing
- also merge sample data and test data #11

[2019-07-11 21:40] dlebauer commented on #6
@KristinaRiemer please discuss tomorrow at your meeting and create new issues then close

[2019-07-12 16:52] KristinaRiemer commented on #6
@kimberlyh66 @gsrohde your suggestions have been implemented in the most recent version of the Swaggerhub, which is here: https://app.swaggerhub.com/apis-docs/y51/bet-ydb_yaba/1.0.4. If you just want to review that version to make sure you have no further comments, that would be great.

[2019-07-12 18:27] gsrohde commented on #6
@KristinaRiemer
This newest version uses HTTP content type `multipart/form-data` in place of `application/json` used by the previous versions.  Presumably this is because the API is now projected to use uploads of CSV files in place of JSON data in making requests.  But whereas the previous version gave sample values for the form of the JSON data, this version doesn't say anything about the format

[2019-07-12 19:00] KristinaRiemer opened #8 "Fix metadata upload API"
There are currently two issues:
1. In `credentials.yaml`, the `PGHOST` setting varies depending on the user's IP and breaks (at least on Macs) when set as `localhost`
2. The sites table endpoint is not working

@Chris-Schnaufer might be able to help @saurabh1969 troubleshoot #1?

[2019-07-12 19:01] KristinaRiemer commented on #4
As the API has been implement and works when `PGHOST` is set manually, closing this in favor of the more specific #8.

[2019-07-12 19:02] #4 closed, assigned to saurabh1969

[2019-07-12 19:06] KristinaRiemer commented on #7
Travis has been implemented with yaml [here](https://github.com/saurabh1969/BETYdb-YABA/blob/master/.travis.yml) and tests are written [yaba_test.py](https://github.com/saurabh1969/BETYdb-YABA/blob/master/app/yaba_test.py).

All that is left for @saurabh1969 is to add the Travis badge to the README to see if the build is passing or failing, and make sure the build passes once the second issue in #

[2019-07-12 19:59] kimberlyh66 commented on #6
@KristinaRiemer I am not sure if the third bullet of my comments can be addressed (documentation for the csv files) with the swagger specification

[2019-07-15 17:16] dlebauer commented on #6
I think that removing the json made all of the documentation disappear. We should discuss this design. Perhaps document the json and accept either json or equivalent as csv.

Next step is to discuss b/w/ Kimberly, David, Kristina and anyone else who is interested.

[2019-07-21 14:21] saurabh1969 commented on #6
@dlebauer @kimberlyh66 @gsrohde I have added the schema of CSV in Swagger under examples .Now i implemented for experiments endpoint only.
[https://app.swaggerhub.com/apis/y51/bet-ydb_yaba/1.0.5#/experiments/Meta.insert_experiments](https://app.swaggerhub.com/apis/y51/bet-ydb_yaba/1.0.5#/experiments/Meta.insert_experiments)

Here only i added the columns and one row as example.

Please review it.

[2019-07-28 14:47] saurabh1969 opened #9 "Implementing Python Client Library"
Implement functions in Python (like R package) that enable use of the YABA API (unlike the existing R package, this will use the API rather than ODBC database connection).This will be used for both scripted workflows and as a backend to the UI.

Completion criteria:

- Commit with client.py
- Integration with UI.

[2019-07-30 17:19] Chris-Schnaufer opened #10 "Review CSV Documentation in Swagger"
@dlebauer @kimberlyh66 @gsrohde I have added the schema of CSV in Swagger under examples .Now i implemented for experiments endpoint only.
https://app.swaggerhub.com/apis/y51/bet-ydb_yaba/1.0.5#/experiments/Meta.insert_experiments

Here only i added the columns and one row as example.

Please review it.

[2019-07-30 17:20] #6 closed, assigned to kimberlyh66

[2019-07-30 17:22] Chris-Schnaufer commented on #8
We need an update on this. Moving it to the next milestone

[2019-07-30 20:53] gsrohde commented on #10
The first thing that strikes me is that the example mixes the use of sample values ("MAC Season 8: Border", "2019-01-01", and "2019-03-31") with what seem to be value descriptors ("text").  It would be better if sample values were used in the `description` and `design` columns as well.

Second, it's too bad that the Swagger display doesn't display this information in the right-most panel as it did

[2019-08-01 23:11] dlebauer commented on #1
Here is a first draft of a mockup: [metadata_upload_ui_mockup.zip](https://github.com/PecanProject/BETYdb-YABA/files/3458965/metadata_upload_ui_mockup.zip)

I am going to close this issue and set up a time to review with @KristinaRiemer and @saurabh1969 ... @Chris-Schnaufer you are also welcome to take a look.

Here are the source files for the software called pencil that I used to generate the mo

[2019-08-01 23:19] dlebauer commented on #1
Estimate for the initial wireframe would probably be closer to a 2 - there is probably more work to be done as we iterate on the design that would bring it closer to a 5.

[2019-08-01 23:19] #1 closed, assigned to dlebauer

[2019-08-01 23:23] dlebauer commented on #1
Just realized I could export to PNG ...

Note that these are a very crude approximation of the core functionality. We can discuss design, layout, content in the review.

## Welcome
![welcome_screen](https://user-images.githubusercontent.com/464871/62333440-4ba9b880-b478-11e9-9fb3-415251a9dbe9.png)

## Upload
![upload](https://user-images.githubusercontent.com/464871/62333441-4ba9b880-b478-11e9-808

[2019-08-03 10:26] saurabh1969 commented on #9
Client Library implemented in latest commit.

[2019-08-07 15:39] dlebauer opened #11 "Remove duplicate input files"
We are going to merge #5. Then we can refactor to combine the contents of input_files and yaba_test/input_files, which are duplicates

[2019-08-07 19:04] saurabh1969 commented on #8
sites table endpoint is implemented successfully .We can see in latest commit at #12 .We can close this issue.

[2019-08-07 19:04] #8 closed, assigned to saurabh1969

[2019-08-09 14:21] saurabh1969 commented on #9
PR #13

[2019-08-09 14:21] #9 closed, assigned to saurabh1969

[2019-08-13 19:15] cmbrown89 opened #14 "Find code that allows me to extract RGB channels from images"
Find a way to extract RGB channels from digital images in both R and python.

For python, using imageio with [this](https://github.com/treystaff/PhenoAnalysis/wiki/Greenness) code example. For R, looking into raster package and [this](https://terraref.github.io/tutorials/combining-trait-weather-and-image-datasets.html#get-image-data) code example.

[2019-08-13 22:20] #14 closed, assigned to nobody

[2019-08-15 14:55] saurabh1969 commented on #11
Solved this issue in latest commit - [here](https://github.com/saurabh1969/BETYdb-YABA/commit/38327d2fe3700516e434436f9e83040919ef8cbd)

[2019-08-15 14:55] #11 closed, assigned to saurabh1969

[2019-08-16 16:37] saurabh1969 commented on #7
All the test are passing in the latest commit of both PR. Build status tag is also attached to both the branch.Latest commit links-
[api-57c50d](https://github.com/saurabh1969/BETYdb-YABA/commit/57c50dfc9c28cacf28a709bf8af0e5e16444a1f3)

[client-f5e54](https://github.com/saurabh1969/BETYdb-YABA/commit/f5e54e38c81cfbea4c9f3a222c7ca8a6db2d0f38)

[2019-08-16 16:37] #7 closed, assigned to saurabh1969

[2019-08-26 17:33] #10 closed, assigned to dlebauer, KristinaRiemer

[2019-09-13 19:02] dlebauer opened #16 "Add Put Variables and Methods endpoints"
We need to define the user story, how an extractor developer would define and put this information in. Mostly a placeholder for now until we have a use case to determine the need and mechanism, e.g. from @cmbrown89 and/or @Chris-Schnaufer

[2019-09-16 16:38] dlebauer opened #18 "Design and Implement Web UI and end user validation"
Draft design documents from: https://github.com/PecanProject/BETYdb-YABA/issues/1

Note that these are a very crude approximation of the core functionality. We can discuss design, layout, content in the review.

## Welcome
![welcome_screen](https://user-images.githubusercontent.com/464871/62333440-4ba9b880-b478-11e9-9fb3-415251a9dbe9.png)

## Upload
![upload](https://user-images.githubusercontent.

[2019-09-18 19:12] Chris-Schnaufer opened #24 "Fix addition of elevation of polygons when loading sites"
The code at https://github.com/PecanProject/BETYdb-YABA/blob/14625fb17168af3ce004fb8d2616f6aef691ca7b/app/Meta.py#L148 adds a Z value (elevation) of 115.

This needs to be changed to first check for a Z value, and if it's missing adding on a 0 (zero) Z value

[2019-09-18 21:11] Chris-Schnaufer opened #25 "File removal statement needs check before removal"
The following line needs to check for a file name before trying to remove the file - there's a chance it hasn't been set:  https://github.com/PecanProject/BETYdb-YABA/blob/14625fb17168af3ce004fb8d2616f6aef691ca7b/app/Meta.py#L195

[2019-09-18 23:39] Chris-Schnaufer opened #26 "Extra assignment statement causes issues"
The following line should be removed since `data` variable already has the notes: https://github.com/PecanProject/BETYdb-YABA/blob/14625fb17168af3ce004fb8d2616f6aef691ca7b/app/Meta.py#L154

Causes a crash due to `data_g` probably not having notes field.

[2019-09-20 23:05] Chris-Schnaufer opened #27 "Move array initialization to inside of loop"
The array needs to be initialized inside the loop at the following location: https://github.com/PecanProject/BETYdb-YABA/blob/14625fb17168af3ce004fb8d2616f6aef691ca7b/app/Meta.py#L145

Right now, it accumulates every point from each geometry object and doesn't start fresh for each object.

[2019-09-23 14:16] saurabh1969 commented on #27
That was a blunder from side.Corrected in #28

[2019-09-23 14:16] #27 closed, assigned to saurabh1969

[2019-09-23 14:16] saurabh1969 commented on #26
Implemented in #28

[2019-09-23 14:16] #26 closed, assigned to saurabh1969

[2019-09-23 14:17] saurabh1969 commented on #25
Implemented in #28

[2019-09-23 14:17] #25 closed, assigned to saurabh1969

[2019-09-24 23:01] dlebauer opened #29 "Questions to answer in README/ documentation"
@gsrohde brought up the following points in this comment: https://github.com/PecanProject/betydbdoc-dataentry/pull/4#issuecomment-533406521

These questions should be answered in the README and / or the betydbdoc-dataentry documentation:

* Does each user who wants to interact with a database have to deploy their own copy of the YABA app?
* Can it be used to connect to any BETYdb database, or does

[2019-09-26 19:42] Chris-Schnaufer opened #30 "Change message returned when CSV column names don't match expected names"
Right now a generic message is returned when a CSV file has too few or too many of the required columns. Returning a message that lists the column names expected, and indicates that the CSV files must contain only those columns, and all of them, would be more helpful

[2020-01-15 21:02] dlebauer opened #31 "Strip whitespace from beginning and end of all records"
remove leading and trailing whitespace,

eg. this: `ABC DEF ,Lactuca sativa,,` should become `ABC DEF,Lactuca sativa,,`

for all fields

[2020-01-16 16:05] Chris-Schnaufer opened #32 "Remove requirement for `design` column from experiments endpoint"
Currently the `design` column is required in the CSV file. This requirement should be removed from the code

[2020-01-16 16:09] gsrohde commented on #31
@dlebauer et al.: If you want normalized white space to be a database invariant for any particular columns, I strongly recommend implementing this at the database level with a trigger function.  Then, no matter from what pathway the value of a column is inserted or updated, one can be assured that the white space adheres to some normal form.

For an example of how this might be done, you can look

[2020-01-17 16:31] dlebauer opened #33 "Document YABA data prep and order of commands"
There should be a page in that I can point data providers to that describes how to prepare and upload data. This would loosely follow the steps outlined in the workflow that uses SQL https://osf.io/v7f9t/wiki/Metadata%20Entry%20Workflow/

This can be drafted in markdown and later moved to OSF

[2020-01-17 16:33] dlebauer opened #34 "Define how workflow and template could be improved for end users"
Go through process (perhaps in next season) and take notes on what needs to be improved to streamline the process.

Can include improved template and also validation, e.g. at least send error messages back in response

[2020-03-02 09:28] tezansahu commented on #1
Hi,
I am Tezan Sahu, a third-year undergraduate from IIT Bombay. I went through this project idea for GSoC and found it very appealing to my interest. I have a decent knowledge of Python, Docker & Kubernetes & have started learning R. I have also filled the PEcAn GSoC Application Form and would like to know your email IDs so that I could send my CV for your referral.
I would also request you to gu

[2020-03-02 14:08] shivanshu1086 commented on #31
Hi @dlebauer,
Can I work on this?

[2020-03-02 19:53] dlebauer commented on #31
@shivanshu1086 that would be great - step 1:

@gsrohde - based on your comment above, my understanding is that if you try to put a cultivars.csv with a white space added, the white space should automatically be stripped when it is inserted. (is that correct?). I am pretty sure that this didn't happen, which is why I wrote up this issue. _please let me know if the following sounds reasonable:_

@sh

[2020-03-02 20:45] gsrohde commented on #31
@dlebauer I tested this out on the bety7 machine with
[code]
(I probably don't have access to whatever machine you use.)  The resulting row looked like this
[code]
You might want to try doing `\d cultivars` on whatever database you are using.  Check for the three relevant triggers and constraints:
[code]

[2020-03-03 13:43] shivanshu1086 commented on #31
ok @dlebauer , working on that!

[2020-03-03 20:56] im-prakher commented on #32
Please have a look at my PR #35 regarding this issue

[2020-03-04 10:29] shivanshu1086 commented on #31
Hey @dlebauer @gsrohde ,
I have run these scripts by making a separate request for the cultivars_whitespace_test.csv.
<img width="964" alt="Screenshot 2020-03-04 at 3 50 25 PM" src="https://user-images.githubusercontent.com/42944826/75870293-cda7f880-5e30-11ea-9121-d16294b535f1.png">
When I am trying a curl request I am getting this error... Can anyone help me out with this?
* curl -F "fileName=@i

[2020-03-04 10:48] shivanshu1086 commented on #31
Also, I a getting this, when I am trying it with the postman
<img width="964" alt="Screenshot 2020-03-04 at 4 16 56 PM" src="https://user-images.githubusercontent.com/42944826/75872135-ad2d6d80-5e33-11ea-82bb-2d5aaa44796f.png">

[2020-03-04 12:24] shivanshu1086 commented on #31
I have done with that error @dlebauer, Please have a look at what I have got with that.

<img width="1440" alt="Screenshot 2020-03-04 at 5 13 58 PM" src="https://user-images.githubusercontent.com/42944826/75876969-abb47300-5e3c-11ea-845f-315320ead96c.png">

That works, it has successfully inserted the [cultivars_whitespace_test.csv](https://gist.githubusercontent.com/dlebauer/b9869fda678143455bb43

[2020-03-04 13:45] shivanshu1086 commented on #31
This is what we get from the database:
<img width="1440" alt="Screenshot 2020-03-04 at 7 12 15 PM" src="https://user-images.githubusercontent.com/42944826/75885375-68fa9700-5e4c-11ea-975e-3435565d6675.png">

[2020-03-04 16:39] dlebauer commented on #31
@gsrohde the database I was using has those triggers installed.

Very mysterious.  One could try debugging it by putting output statements in the function called by the trigger function, making sure it gets called upon a qualifying event and making sure it does what it is supposed to do.

[2020-03-04 19:19] dlebauer opened #36 "Create an interface to 'add new experiments'"
This should provide a GUI front end to the python client. https://github.com/PecanProject/BETYdb-YABA/blob/master/client/client.py#L27

It should accept the fields:

* Experiment Name
* Start Date
* End Date
* Description
* Design

And should be inserted into the experiments table in BETYdb using the API client

[2020-03-12 06:08] shivanshu1086 commented on #32
@dlebauer please have a look at my PR #37

[2020-03-12 06:11] shivanshu1086 commented on #36
Yes @dlebauer , we can do it with **tkinter** a python library for GUI.
Can I try to work on that?

[2020-03-12 06:25] shivanshu1086 commented on #31
@dlebauer please check #37  that can be helpful for checking the whitespaces for the database.

[2020-03-12 07:04] smdp2000 opened #38 "NameError: name 'Response' is not defined under home method in BETYdb-YABA/app/server.py"
https://github.com/PecanProject/BETYdb-YABA/blob/64b540ef21838d5b47469896b95672bb4ac00f48/app/server.py#L28

[2020-03-12 07:06] smdp2000 commented on #38
@dlebauer I have found a fix for this , I want to work on this.

[2020-03-12 23:33] dlebauer commented on #38
Hi @smdp2000 - thanks for reporting this bug and providing a solution in #39 ! Could you provide a little bit more detail on what you did that caused the bug to occur - the specific command required to reproduce the error, as well as what you expected to occur? Sorry it appears that this repository doesn't have a bug reporting template, but the basic ingredients are 1) minimal reproducible example

[2020-03-20 07:40] yuvrajdalia commented on #36
hey @dlebauer, I have just created a pull request addressing this issue. Please have a look at it and tell me if some other changes are required.

[2020-05-11 20:06] dlebauer opened #41 "Create a validation/review page for users to validate data before upload"
A proposed validation / review page. The goal of this is to make sure that the person uploading the metadata has a chance to confirm that the metadata they are uploading is correct / consistent with how they think it should be It can look like this:

![image](https://user-images.githubusercontent.com/464871/81606718-69ea0080-9388-11ea-9e74-ea1c40ceaf35.png)

Overview -

* Use [psql transactions](h

[2020-05-18 16:23] Chris-Schnaufer opened #42 "Incorrect plot shapes assigned to plots"
When loading plots through the YABA interface plot names are not correctly matched up with the shapes in the shapefile leading to incorrect plot boundaries.

[2020-06-05 17:19] KristinaRiemer opened #43 "Create GSOC roadmap"
Put together list of deliverables and specific tasks in a new OSF page for the first deadline

[2020-06-11 15:43] im-prakher opened #44 "Modifying client routes for data validation"
The goal of this issue is to implement data validation for shapefiles, spreadsheets before API data ingestion by modifying existing API routes functionality.

https://github.com/PecanProject/BETYdb-YABA/blob/64b540ef21838d5b47469896b95672bb4ac00f48/app/Meta.py#L52-L72 #

Like, the code in this function responds to /yaba/v1/experiments (for inserting experiments in the BETY database), we can modify

[2020-06-11 17:23] im-prakher opened #45 "Enable CORS (Cross-Origin Resource Sharing) for the api"
The aim of this issue is to enable CORS (Cross-Origin Resource Sharing) for the application to allow resource sharing from other origins. Actually, the frontend application(currently under-development) needs to post data to the YABA app but it isn't allowed as of cross-origin policy, for which we need to enable CORS in the YABA app.

It can be  done using Flask-CORS extension
https://flask-cors.re

[2020-06-12 14:50] KristinaRiemer commented on #43
Have created [an OSF page](https://osf.io/v7f9t/wiki/GSOC%202020%20Roadmap/) with an initial roadmap, we need to discuss and revise during meeting today.

[2020-06-17 14:42] saurabh1969 commented on #44
Can you elaborate about status parameter?

[2020-06-19 16:01] KristinaRiemer commented on #41
Rough version of joins: treatments as t join et on t.id = et.treatment_id join experiments as e on et.experiment_id = e.id join es on es.site_id = sites.id

[2020-06-20 18:50] im-prakher commented on #44
It will be a Boolean. A false value indicates that data should be only validated and a response should be returned accordingly, while a true value tells us that data should also be inserted.

[2020-06-22 17:39] #43 closed, assigned to KristinaRiemer

[2020-06-22 22:13] #32 closed, assigned to dlebauer

[2020-06-24 21:36] dlebauer commented on #36
Thanks @yuvrajdalia - with the new spreadsheet based approach in this will not be required

[2020-06-24 21:36] #36 closed, assigned to dlebauer

[2020-06-24 21:39] dlebauer opened #46 "Validate user-input API key"
After the API key is entered in the Welcome page, it should be validated (#18)

* [ ] check that API key is valid
   * `select count(*) from users where apikey = $user_provided_apikey` should return `1`
* [ ] confirm that user name. Display the name returned by the following query:
   *  `select name from users where apikey = $user_provided_apikey

[2020-06-24 21:51] dlebauer opened #47 "Set up development environment"
Set up the environment for development using node js, create-react-app module.

This should be documented in README so that someone else can quickly get the application up and running

[2020-06-24 21:53] dlebauer opened #48 "Set up github actions"
* [ ] super linter
* [ ] tests for python and js
* [ ] code coverage (eg codecov or sonarcube)
   * PR requires code coverage to stay the same or increase

[2020-06-24 21:54] dlebauer opened #49 "Write stylesheet for each endpoints' web page"
Write stylesheets for application endpoints to upload metadata

[2020-06-26 15:51] dlebauer opened #51 "Phase 2 placeholder"

[2020-06-26 15:57] #45 closed, assigned to im-prakher

[2020-06-26 15:57] dlebauer commented on #45
Implemented in PR #50 see https://github.com/PecanProject/BETYdb-YABA/blob/50088c7badbb66692ca19d4b4eb2ac6fb58479e5/client/client.py

[2020-06-30 17:09] im-prakher commented on #47
Done in -->
- [interface/package.json](https://github.com/PecanProject/BETYdb-YABA/blob/efb3b23d912241aab5d0d57f4237c7e3aa569104/interface/package.json)
- [interface/README.md](https://github.com/PecanProject/BETYdb-YABA/blob/efb3b23d912241aab5d0d57f4237c7e3aa569104/interface/README.md)

[2020-06-30 17:09] #47 closed, assigned to im-prakher

[2020-07-02 20:31] #24 closed, assigned to nobody

[2020-07-02 20:31] Chris-Schnaufer commented on #24
Closing due to issue being placed in wrong organization

[2020-07-03 15:21] im-prakher commented on #48
We can use [super linter](https://github.com/github/super-linter) instead of pylint which can lint python as well as js and other languages code.

[2020-07-09 16:27] im-prakher opened #52 "Writing tests for the Interface"
This issue aims at writing tests for the interface part of the YABA app, using [React Testing Library](https://testing-library.com/docs/react-testing-library/intro) and [Jest](https://jestjs.io/).

[2020-07-09 16:33] im-prakher opened #53 "Containerize the Interface and Visualization part of the YABA app"
This issue aims at
- Setup Docker containers for Interface and Visualization part of the YABA app
- Modify docker-compose.yml for the YABA app

Also, address CORS security issue in https://github.com/PecanProject/BETYdb-YABA/pull/50#discussion_r447860085

[2020-07-10 15:43] dlebauer opened #54 "Describe data format requirements in README"
* Link to this template (if not already) https://docs.google.com/spreadsheets/d/1Fr_8xYOucyCQ9WH5_1bfPTMpm3IhKX5oqW4UOMvPoSY/edit#gid=0
* Also add tables to readme w/ information from README spreadsheet (you can use [markdown tables generator](https://www.tablesgenerator.com/markdown_tables))
* Need to add shapefile specs

[2020-07-17 18:06] im-prakher opened #55 "Not able to insert sites table properly"
Actually, when I was inserting sites table using the client route,

`curl -F "fileName=@input_files/sites.csv"   \`
    ` -F "shp_file=@input_files/S8_two_row_polys.shp"  \`
    ` -F "dbf_file=@input_files/S8_two_row_polys.dbf"  \`
     `-F "prj_file=@input_files/S8_two_row_polys.prj"  \`
     `-F "shx_file=@input_files/S8_two_row_polys.shx"  \`
     `http://localhost:6001/sites`

the app returned

[2020-07-20 15:58] im-prakher commented on #41
Done in

- [interface/src/components/data-visual.js](https://github.com/PecanProject/BETYdb-YABA/blob/ee818a85aca3a91bf506a671bb8ed8d4e1a64191/interface/src/components/data-visual.js)
- [interface/src/components/stylesheets/visual.css](https://github.com/PecanProject/BETYdb-YABA/blob/c622e2a55f59a9774c37eae57fda12b0ebb585f7/interface/src/components/stylesheets/visual.css)
- [interface/src/componen

[2020-07-20 15:58] #41 closed, assigned to nobody

[2020-07-20 16:14] im-prakher commented on #49
Done in
- [interface/src/components/stylesheets/style.css](https://github.com/PecanProject/BETYdb-YABA/blob/c622e2a55f59a9774c37eae57fda12b0ebb585f7/interface/src/components/stylesheets/style.css)
- [interface/src/components/stylesheets/navbar.css](https://github.com/PecanProject/BETYdb-YABA/blob/c622e2a55f59a9774c37eae57fda12b0ebb585f7/interface/src/components/stylesheets/navbar.css)
- [interface

[2020-07-20 16:14] #49 closed, assigned to im-prakher

[2020-07-20 17:27] im-prakher opened #56 "Visualize the polygons"
Created a `shape-visual.js` and `gmap.js` component that uses `react-leaflet` to visualize the GeoJSON data.

- [interface/src/components/shape-visual.js](https://github.com/PecanProject/BETYdb-YABA/blob/c622e2a55f59a9774c37eae57fda12b0ebb585f7/interface/src/components/shape-visual.js)
- [interface/src/components/gmap.js](https://github.com/PecanProject/BETYdb-YABA/blob/c622e2a55f59a9774c37eae57fd

[2020-07-20 17:31] im-prakher opened #57 "Added a Success Page"
Created a success page after successful upload.

- [interface/src/components/success.js](https://github.com/PecanProject/BETYdb-YABA/blob/c622e2a55f59a9774c37eae57fda12b0ebb585f7/interface/src/components/success.js)
- [interface/src/components/stylesheets/success.css](https://github.com/PecanProject/BETYdb-YABA/blob/c622e2a55f59a9774c37eae57fda12b0ebb585f7/interface/src/components/stylesheets/succ

[2020-07-20 17:34] im-prakher opened #58 "Added an error page"
Created an error page if an error occurs while uploading tables to the YABA app.

- [interface/src/components/error.js](https://github.com/PecanProject/BETYdb-YABA/blob/c622e2a55f59a9774c37eae57fda12b0ebb585f7/interface/src/components/error.js)
- [interface/src/components/stylesheets/error.css](https://github.com/PecanProject/BETYdb-YABA/blob/c622e2a55f59a9774c37eae57fda12b0ebb585f7/interface/src/

[2020-07-20 17:37] im-prakher opened #59 "Added requests file to hit the YABA client routes"
Created a `requests.js` file to hit client routes for data upload.

- [interface/src/components/requests.js](https://github.com/PecanProject/BETYdb-YABA/blob/c622e2a55f59a9774c37eae57fda12b0ebb585f7/interface/src/components/requests.js)

[2020-07-20 19:11] im-prakher commented on #52
WIP in #60

[2020-07-22 16:25] saurabh1969 commented on #55
@im-prakher Firstly,the above api call are POST.And when you request through browser,it is always GET call.And,whenever you are using client api route( http://localhost:6001/sites) ,make sure your server is running properly.

And for above error,it seems like it is file path issue.Please check this link :  https://github.com/Toblerity/Fiona/issues/742.
It will surely help.

[2020-07-23 17:18] im-prakher commented on #55
Making requests using cuRL or browser doesn't make any difference on the request method part, and the request method here is POST for the route. Also, I am making POST requests to the other routes and that's working fine.
https://github.com/PecanProject/BETYdb-YABA/blob/7518714f5de479cbdbc56219e70444efcfe5712f/client/client.py#L32-L36

Will look into this [Toblerity/Fiona/issues/742](https://githu

[2020-07-24 15:24] dlebauer opened #61 "Remove responsive navbar ..."
This is not needed b/c
1. people won't be using this on mobile.
2. navbar not needed (this is a form / workflow UI not a navagable website)

_Originally posted by @Chris-Schnaufer in https://github.com/PecanProject/BETYdb-YABA/pull/50#discussion_r447877833_

[2020-07-24 15:29] dlebauer opened #62 "if time zone isn't required, leave it out (or insert empty string '')."
_Originally posted by @Chris-Schnaufer in https://github.com/PecanProject/BETYdb-YABA/pull/50#discussion_r447848077_

[2020-07-24 16:40] dlebauer commented on #56
we don't need to visualize the shapefiles directly, we want to visualize the data after it has been inserted into the database. For example, to look at the map of experiments we want to test that this is valid ....

[code]

similar w/ joins to treatments and cultivars

[2020-07-26 13:50] im-prakher commented on #53
Solved in #63

[2020-07-26 14:22] #57 closed, assigned to nobody

[2020-07-26 14:22] #59 closed, assigned to nobody

[2020-07-26 14:22] #58 closed, assigned to nobody

[2020-07-29 22:44] dlebauer commented on #38
Not reproducible - closing

[2020-07-29 22:44] #38 closed, assigned to smdp2000

[2020-07-29 22:54] #51 closed, assigned to nobody

[2020-07-31 15:50] KristinaRiemer opened #64 "Update documentation"
This should go in
* the YABA repo's README
* [the BETYdb docs](https://pecanproject.github.io/bety-documentation/dataentry/entering-meta-data.html#betydb-yaba-and-python-client-library).
* These docs should be referenced in the PEcAn API documentation

User content:
- Link to interface
- Description/screenshots of data tables/shapefiles (see #54), point out example data

Developer content:
- Endpo

[2020-08-14 14:53] #52 closed, assigned to im-prakher

[2020-08-14 14:54] im-prakher commented on #48
Done in #63

[2020-08-14 15:11] dlebauer opened #66 "if 2D geometry provided, ask user to provide elevation or query from public API"
Currently it appears elevation is set to 115 by default https://github.com/PecanProject/BETYdb-YABA/blob/31d62873a9d3e4a5fd2bc7dae8bdacf0ffebefa0/app/Meta.py#L140

- [ ] Short term fix - set to 0 by default
- [ ] Potential fix:
   - Better fix: ask user
   - Best: use lat/lon to query elevation from public API

[2020-08-21 15:39] dlebauer opened #67 "Implement testing as a matrix"
For GitHub actions, can you use a matrix for testing the app, interface, etc. folders? It's easier to maintain a single YAML file than multiples of the same with minor variations.

https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idstrategymatrix

The idea was to see if matrix could be used to combine the two Python tests into one file. I feel that putting Py

[2020-08-24 06:10] im-prakher commented on #46
@dlebauer @KristinaRiemer While implementing the validation using the API key, I found that currently, the ` apikey` column for the `users` table for every row (user) is empty and null.

As by performing this query,
 `select count(*) from users where apikey = $user_provided_apikey` it will return `0`.

The app initializes the bety database from this URL, [`https://terraref.ncsa.illinois.edu/bety/d

[2020-08-25 19:42] im-prakher commented on #56
Done in #69

[2020-08-25 19:47] im-prakher commented on #54
@dlebauer  Can you add some more information about shapefile specs?

[2020-08-26 17:29] KristinaRiemer commented on #46
So you checked that all api keys are null with something like `select distinct(apikey) from users;`?

I'm not really sure why the apikeys aren't showing up. When I log into my TERRA REF Bety account, I can see my own key under users. @dlebauer?

[2020-08-26 17:56] dlebauer commented on #46
For the purposes of developing the functionality, feel free to use something like `update users set apikey = 'whatever_random_string' where user = 'myuser';`.

Instructions for generating api keys are here: https://pecan.gitbook.io/betydb-data-access/api-for-url-based-queries#for-administrators.  There is also a button in the interface where users can generate / recreate their own apikeys.

[2020-08-29 17:57] im-prakher commented on #44
Done in #69

[2020-08-29 17:57] #44 closed, assigned to im-prakher

[2020-08-29 17:58] im-prakher commented on #64
Done in #69

[2020-08-29 17:58] #64 closed, assigned to im-prakher

[2020-08-29 17:58] im-prakher commented on #61
Done in #69

[2020-08-29 17:58] #61 closed, assigned to im-prakher

[2020-08-29 17:59] #56 closed, assigned to im-prakher

[2020-08-29 17:59] im-prakher commented on #46
Done in #69

[2020-08-29 18:00] #48 closed, assigned to im-prakher

[2020-08-29 18:00] #53 closed, assigned to im-prakher

[2020-08-30 07:55] im-prakher commented on #67
Done in #63

[2020-08-30 07:55] #67 closed, assigned to nobody

[2020-08-31 17:45] im-prakher opened #70 "Implement Pylint rules for the Python codebase"
The aim of this issue is to make the python codebase follow all standard rules by a linter. Right now, some warnings are ignored in the pylintrc file, make the codebase follow all these standard rules. This will make the YABA app better.

Actually, there were a lot of warnings for inconsistent-return-statements, missing-module-docstring and somehow Pylint action treats them as an error, not warnin

[2020-09-03 15:49] im-prakher opened #71 "Cannot generate coverage report for Py_tests Action"
This issue aims to generate a coverage report for python tests in Py_test action. Right now, it produces a warning and exits

![pytest_error](https://user-images.githubusercontent.com/43149558/92136608-d605de00-ee29-11ea-8508-224d06c4218a.png)

For now, you can see the run for actions here: [BETYdb-YABA/actions](https://github.com/PecanProject/BETYdb-YABA/actions) --> YABA app and client tests

[2020-11-08 15:10] im-prakher opened #72 "Set env variables in docker-compose to be used with interface and visualization parts of the app"
_Originally posted by @Chris-Schnaufer in https://github.com/PecanProject/BETYdb-YABA/pull/69#discussion_r498525361_

The aim of this issue is to set `port` and `host` environment variables for the interface and visualization part in the docker-compose file itself so that can be used in these parts through ReactJS's and Node.js `process.env`

For reference- [Reading an environment variable in reac

[2020-12-10 15:53] KristinaRiemer opened #73 "Draft GSOC project and tasks"
Org application due Feb 19

Ideas for project:
- Move all of visualization and validation code to using Python in main app

Ideas for initial task to familiarize students w/ codebase and determine skills:
- Updating Python packages in requirements
- API route template

[2020-12-10 16:01] KristinaRiemer opened #74 "Check for missing data columns in validation"
In [app/Meta.py](https://github.com/PecanProject/BETYdb-YABA/blob/master/app/Meta.py) currently, when tables are being added it is only checked to see if the columns present are in the list of accepted columns. For example, see lines 265-296 for the cultivars table. Some of these columns are required and so should return an error if they aren't there. https://github.com/PecanProject/BETYdb-YABA/bl

[2021-01-18 17:21] #46 closed, assigned to im-prakher

[2021-01-18 17:28] #18 closed, assigned to im-prakher

[2021-02-01 16:10] dlebauer commented on #70
@im-prakher is the goal here to implement the pylint checker, or to fix all of the errors and warnings?

[2021-02-03 06:36] im-prakher commented on #70
It is to fix all the linting errors and warnings which are right now ignored by pylint

[2021-02-03 06:47] im-prakher commented on #54
@dlebauer @KristinaRiemer Should we close this issue now?

[2021-02-19 08:40] eshantri commented on #74
I want to work on this issue. Can you assign this to me?

[2021-02-19 09:45] im-prakher commented on #74
Sure!

[2021-03-01 05:52] eshantri opened #80 "Missing JsonSchema module"
![Screenshot from 2021-02-28 23-58-01](https://user-images.githubusercontent.com/48446729/109456708-6a6e9780-7a7f-11eb-893e-59a0e86689a2.png)

Upon running the yaba_api_1 container in my local machine I found that the following error pops up and causes the yaba_api_1 container to exit with code 1. The only fix that seems to work is by writing `jsonschema==3.2.0` in the app/requirements.txt file, t

[2021-03-08 23:46] dlebauer commented on #80
@eshantri thank you for reporting this problem ... were you running this using docker or on your regular operating system?

[2021-03-09 02:39] eshantri commented on #80
@dlebauer I was running this using docker,as per the steps mentioned in the documentation.

[2021-03-14 14:10] eshantri commented on #72
I'd like to work on this issue.

[2021-03-14 14:36] eshantri commented on #80
#81 Fixes the error

[2021-03-14 14:36] #80 closed, assigned to nobody

[2021-03-26 08:53] cryolune opened #84 "Not able to find a sync_url in database - ERROR: 255"
While doing the setup of **BETYdb-YABA** app, I came across an issue when I entered the command `docker-compose run --rm bety sync` after following the documentation of this app.
**_" Did not find a sync_url in database, please update database, or provide script with DUMPURL.
ERROR: 255 "_**
<br></br>
![](https://i.ibb.co/zs1mx6p/Screenshot-from-2021-03-26-14-18-44.png)

[2021-03-30 06:09] dlebauer commented on #84
Can you check if adding this line to the environment section of docker-compose.yml helps? https://github.com/terraref/brapi/blob/ac17464e003056394ddec7ba97f5a21e0d9dd968/docker-compose.yml#L38

[2021-03-30 13:46] cryolune commented on #84
@dlebauer it worked, thanks 😀

[2021-03-30 15:29] dlebauer commented on #84
Great - can you submit a PR for that? You can copy-paste the line here: https://github.com/terraref/brapi/edit/master/docker-compose.yml

[2021-03-30 16:52] cryolune commented on #84
sure working on it.

[2021-03-31 13:16] eshantri commented on #66
@dlebauer  I'd like to work on this issue, I would try to fix this by using the best method you described i.e to query from public API.

[2021-04-26 17:47] #73 closed, assigned to KristinaRiemer

[2021-04-26 17:47] KristinaRiemer commented on #73
This was mostly completed by Prakher

[2021-06-01 23:08] dlebauer commented on #84
fixed by https://github.com/PecanProject/BETYdb-YABA/issues/85

[2021-06-01 23:08] #84 closed, assigned to nobody